/* Created   by https://github.com/thyeun 
   Designed  by https://github.com/thyeun
   Maintaned by https://github.com/thyeun
*/

// Global
*{
  all: unset;
}

// Variable Color's
$background: #16161E;
$foreground: #A9B1D6;

$black: #1A1B26;
$gray: #24283B;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

// EWW BAR
.eww_bar{
  background-color: $background;
}

// Launcher
.launcher_icon{
    color: $cyan;
    font-family: JetBrainsMono Nerd Font;
    font-size: 1.0em;
    //text-align: center;
    padding: 0 .5rem .0 .5rem;
}

// Workspaces
.works {
font-family: JetBrainsMono Nerd Font;
padding: .3rem 1.5em .0 .3rem;
font-size: 0.8em;
//border: 0.5px solid rgba(9, 85, 225, 0);
}
.unoccupied {
  color: $gray;
}
.occupied {
  color: $white;
}
.focused {
  //border-top: 1px solid $yellow;
  //border-bottom: 1px solid $yellow;
  //border-radius: 5px;
  //padding: 0px 5px 0px 0px;
  //min-width: 15px;	
  color: $yellow;
  //.hover {
  //  box-shadow: inherit;
  //  border-color: $magenta;
  //  color: $magenta;
  //  }  
}
.urgent {
  //border-top: 1px solid $red;
  //border-bottom: 1px solid $red;
  //border-radius: 5px;
  //padding: 0px 5px 0px 0px;
  //min-width: 15px;	
  color: $red;
}

// Control Panel
.control {
//margin: 0 .2rem 0 .2rem;
//padding: .5rem;
//font-family: JetBrainsMono Nerd Font;
//font-size: 1.0em;
background-color: $background;
//border-radius: 8px;
}
.bat{
  font-family: JetBrainsMono Nerd Font;
  font-size: 0.8em;
  margin: 0 .3rem 0 0;
  color: $blue;
}
.wifi-icon{
  font-family: JetBrainsMono Nerd Font;
  font-size: 0.7em;
  margin: 0 .6rem 0 0;
  color: $magenta;
}
.brightness-icon{
  font-family: JetBrainsMono Nerd Font;
  font-size: 0.8em;	
  margin: 0 .4rem 0 0;
  color: $yellow;
}
.volume-icon{
  font-family: JetBrainsMono Nerd Font;
  font-size: 1.0em;
  margin: 0 0 0 .2rem;
  color: $green;
}


// Clock
.time {
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 0.8em;
  background-color: $black;
  color: $white;
  //border-radius: 8px;
  margin: 0 -.4rem 0 .2rem;
  //padding: 0 .4rem 0 .4rem;
}

// Calendar
.cal-box {
  background-color: $black;
  font-family: JetBrainsMono Nerd Font;
  font-size: 0.6em;
  font-weight: bold;

  .cal-inner-box {
      padding: 1rem 1rem 0;

      .cal {
          &.highlight {
              padding: 10rem;
          }

          padding: .8rem .25rem 0rem;
          margin-left: 10px;
      }
  }
}

calendar:selected {
	color: $blue;
}

calendar.header {
	color: $blue;
	font-weight: bold;
}

calendar.button {
	color: $magenta;
}

calendar.highlight {
	color: $magenta;
	font-weight: bold;
}

calendar:indeterminate {
	color: $yellow;
}

// Powermenu
.powermenu {
  font-family: feather;
  font-size: 0.88em;
  font-weight: bold;
}
.button-bspres, .button-reb, .button-lock,
.button-quit, .button-off{
  padding: 0 .2rem 0 .2rem;
}
.button-off{
  margin-top: .1rem;
  color: $red;
}
.button-bspres{
  color: $green;
}
.button-reb{
  color: $yellow
}
.button-quit{
  color: $magenta;
}
.button-lock{
  color: $blue;
}

.audio-box {
    background-color: $black;
	border-radius: 8px;
}
.speaker_icon {
	background-size: cover;
    background-image: url('images/speaker3.png');
	background-position: center;
	min-height: 20px;
	min-width: 30px;
	margin: 10px 20px 5px 20px;
	border-radius: 12px;
}

.speaker_text {
	color: $white;
	font-size: 15px;
	font-weight: bold;
	margin: 8px 0px 0px 0px;
}

.speaker_bar scale trough highlight {
	all: unset;
    background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
	border-radius: 12px;
}
.speaker_bar scale trough {
	all: unset;
	background-color: $gray;
    box-shadow: 0 6px 5px 2px $black;
	border-radius: 12px;
	min-height: 13px;
	min-width: 120px;
	margin: 0px 0px 0px 0px;
}

.mic_icon {
	background-size: cover;
    background-image: url('images/mic2.png');
	background-position: center;
	min-height: 5px;
	min-width: 30px;
	margin: 3px 20px 10px 20px;
	border-radius: 12px;
}

.mic_text {
	color: $white;
	font-size: 15px;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
}

.mic_bar scale trough highlight {
	all: unset;
    background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
	border-radius: 12px;
}
.mic_bar scale trough {
	all: unset;
    box-shadow: 0 6px 5px 2px $black;
	background-color: $gray;
	border-radius: 12px;
	min-height: 13px;
	min-width: 120px;
	margin: 0px 0px 15px 0px;
}

.audio_sep {
    color: $gray;
    font-size: 18;
	margin: 0px 0px 0px 0px;
}

.light-box {
    background-color: $black;
	border-radius: 8px;
}
.light_icon {
	background-size: cover;
    background-image: url('images/light.png');
	background-position: center;
	min-height: 20px;
	min-width: 30px;
	margin: 5px 20px 5px 20px;
	border-radius: 12px;
}

.light_text {
	color: $white;
	font-size : 10px;
	font-weight : bold;
	margin: 5px 15px 0px 0px;
}

.light_bar scale trough highlight {
	all: unset;
    background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
	border-radius: 12px;
}
.light_bar scale trough {
	all: unset;
	background-color: $gray;
    box-shadow: 0 6px 5px 2px $black;
	border-radius: 12px;
	min-height: 10px;
	min-width: 120px;
	margin: 2px 10px 2px 0px;
}

.song_cover_art {
	background-size: cover;	
	background-position: center;
	min-height: 0px;
	min-width: 10px;
	margin: 8px 5px 8px 5px;
	border-radius: 10px;
}
.song {
	font-family: Noto Sans Mono CJK TC;
	color: $yellow;
	font-size: 9px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
}
.song_btn_play {
	color: $green;
	font-size: 15px;
	margin: 3px 0px 0px 5px;
}
.song_btn_prev {
	color: $green;
	font-size: 10px;
	margin: 3px 0px 0px 45px;

}
.song_btn_next {
	color: $green;
	font-size: 10px;
	margin: 3px 40px 0px 0px;
}

.music_pop {
    background-color: $black;
	border-radius: 16px;
}
.music_cover_art {
	background-size: cover;
	background-position: center;
	min-height: 10px;
    box-shadow: 5px 5px 5px 5px $black;
	min-width: 10px;
	margin: 8px 5px 8px 5px;
	border-radius: 20px;
}
.music {
	font-family: Noto Sans Mono CJK TC;
	color: $yellow;
	font-size: 9px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
}
.music_artist {
	color: $gray;
	font-size: 10px;
	font-weight: normal;
	margin: 0px 0px 0px 0px;
}
.music_btn_prev, .music_btn_play, .music_btn_next {
	font-family: JetBrainsMono Nerd Font;
}
.music_btn_prev {
	color: $green;
	font-size: 10px;
	font-weight: normal;
	margin: 0px 0px 0px 0px;
}
.music_btn_play {
	color: $green;
	font-size: 10px;
	font-weight: normal;
	margin: 0px 0px 0px 0px;
}
.music_btn_next {
	color: $green;
	font-size: 10px;
	font-weight: normal;
	margin: 0px 0px 0px 0px;
}
